@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background: linear-gradient(173deg, rgba(84, 35, 215, 0.24) -20.49%, rgba(31, 61, 167, 0.00) 93.7%);
    font-family: 'Inter', sans-serif;
}



main {
    display: flex;
    justify-content: center;
    align-items: center;
}



figure img {
    width: 50%;
}


section {
    width: 50%;
    margin-right: 2%;
    margin-left: 2%;
}



h1 {
    font-size: 3.5rem;
    color: #222;
    text-align: center;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 56px;
}



.google-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 20px 30px;
    width: 100%;
    background-color: transparent;
    font-size: 1.75rem;
    border-radius: 15px;
    border: 1px solid black;
    cursor: pointer;
}



p {
    color: #222;
    text-align: center;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    margin: 3rem;
}



form {
    display: flex;
    flex-direction: column;
}



input {
    padding: 24px 30px;
    margin-bottom: 56px;
    gap: 24px;
    font-size: 1.75rem;
    border-radius: 15px;
    border: 1px solid black;
    background-color: transparent;
}



.create {
    border-radius: 15px;
    background: #4C14E2;
    font-size: 1.75rem;
    border: none;
    cursor: pointer;
    color: #ffffff;
    margin-top: 15px;
    padding: 1rem 1.25rem;
}